body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  background-color: salmon;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 4px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}
input{
  border-radius: 5px;
  border:2px solid #000000ff;
  margin:5px;
}
ul{
  list-style-type: none;
} 
